

/*se puede poner de base este css*/
/*instrucciones específicas para la pàgina pilas o index  (#90f0e5 antiguo color)*/

* {box-sizing:border-box}

/*instrucciones para pantallas small 320px*/
@media only screen and (max-width: 320px) {
	
	ol li{
		padding:0px 10px;
	}
}
/*instrucciones para pantallas small 375px*/

@media only screen and (max-width: 375px) {
}

/*instrucciones para pantallas small 375px*/

/*instrucciones para pantallas small 425px*/

@media only screen and (max-width: 425px) {
	
	footer div div div p:before{
	display:none;
	}
	footer div div div p a i:hover{
		color:#00FFFF;
	}
	.imagenparallaxpillas{
		transform: translate3d(-50%, 600px, 500px);
		opacity: 1;
	}
	.parallax-container {
    position: relative;
    overflow: hidden;
    height: 300px!important;
	}
}

@media only screen and (max-width: 515px) {
		#tranimacion{
		font-size:38px;
		opacity:0;
	}
.trlinea1{
	width:290px!important;
	opacity:0;
}
.test{
	margin:0px 10px;
	opacity:0;
}
}
@media only screen and (max-width:1500px) {
	#deslizarintegral{
		display:none!important;
	}
}

/*instrucciones para pantallas small 425px*/
body{
	background-color:#f1f3f4;
	font-family:Cabin, sans-serif;
	font-size:15px;
	z-index:1;
}

.EAES{
	font-family:Arvo, sans-serif;
}

span.blue-text{
	-webkit-text-stroke: 1px black;
	font-family:Cabin, sans-serif;
}

hr{
	border-top: 4px solid rgba(246,189,82,1);
}

#cuentaregresiva{
	display:flex;
	justify-content:center;
}

#cuentaregresiva2{
	display:flex;
	justify-content:center;
}

#cuentaregresiva2 .simply-section{
	border:2px solid red;
}

.simply-section{
	width:85px;
	height:75px;
	margin:0px 5px;
	border-radius: 10px;
	background:white;
	display:flex;
	align-items:center;
	justify-content:center;
	border:2px solid #2196F3;
	box-shadow:1px 1px 4px gray;
}

.simply-word{
	font-family:Arvo, sans-serif;
}

.simply-amount{
	font-weight:bold;
	display:block;
	text-shadow:1px 1px 2px gray;
	font-size:18px;
}

header{
	background-color:rgba(250,192,84,1.0);
	width:100%;
	box-sizing:border-box;
	animation-name:arribanav;
	Animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	font-size:16px;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
	font-family:Arvo;
}

header ul{
	display:flex;
	justify-content:flex-end;
	max-width:1200px ;
	margin:0 auto;
	padding:0;
}

header ul li {
	list-style-type:none;
	padding:10px 17px;
	transition:0.5s;
	box-sizing:border-box;
	line-height: 56px;
	position: relative;
}

@keyframes arribanav{
	 from {background-color: rgb(255, 195, 77);}
     to {background-color: rgb(255, 221, 153);}
}

header ul li:hover{
	animation-name:arribanavhover;
	Animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border-radius:10px;
}

@keyframes arribanavhover{
	 from {background-color: #ffd88c;}
     to {background-color: rgb(255, 195, 77);}
} 

header ul li ul{
	position:absolute;
	top:75px;
	left:0;
	display:block;
	transition:1s;
	width:200px;
	opacity:0;
	visibility:hidden;
	z-index:1;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
	border-radius:10px;
}

.sidenav li ul{
	opacity:0;
	transition:1s;
	visibility:hidden;
}
header ul li:hover ul{
	opacity:1;
	visibility:visible;
}

.sidenav li:hover ul{
	opacity:1;
	visibility:visible;
}

header ul li ul li{
	border-bottom:1px solid rgb(255, 195, 77);
	background-color:white;
}
	.material-icons{
		font-size:34px!important;
	}

.menu a:first-child{
	display:none;
}

@media (max-width:1026px){
	header ul{
		display:none;
	}
	header a{
		background-color:rgba(250,192,84,1.0);
		box-sizing:border-box;
		width:100%;
		text-align:center;
		margin: auto;
		padding-left: 36px;
	}
	.menu{
		display: grid;
		background-color:rgba(250,192,84,1.0);
		grid-template-columns: 75px auto 75px;
		text-align:center;
	}
	
	.menu a:first-child{
	display:block;
	}
	
	.menu a:last-child{
		padding:10px 0px;
	}
	sidenav li:hover ul{
	opacity:1;
	visibility:visible;
	}
}

.desactivado{
	color:gray!important;
}
.desactivado a{
	color:gray!important;
}

.desactivadocaja{
	border-radius:7px;background-color:gray!important;color:white;box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);padding:7px;
}
.brand-logo{
    color: #fff;
    font-size: 2.1rem;
	font-family:Arvo, sans-serif;
	transition-property:text-shadow!important;
	transition-duration:0.5s !important;
	transition-timing-function:ease-out!important;
	animation-name:logoexit;
	animation-duration: 1s;
	animation-fill-mode: both;
	padding:10px 15px 10px 55px;
	float: left;
}

.brand-logosimulador{
    color: white;
    font-size: 2.1rem;
	font-family:Arvo, sans-serif;
	transition-property:text-shadow!important;
	transition-duration:0.5s !important;
	transition-timing-function:ease-out!important;
	animation-name:logoexit;
	animation-duration: 1s;
	animation-fill-mode: both;
	padding:10px 15px 10px 55px;
	float: left;
}

.brand-logo:hover{
	text-shadow:2px 2px 7px white;
	animation-name:logo;
	animation-duration: 1s;
	animation-fill-mode: both;
}
.brand-logosimulador:hover{
	text-shadow:2px 2px 7px black;
	animation-name:logo;
	animation-duration: 1s;
	animation-fill-mode: both;
	
}

@keyframes logo{
	 from {transform: translate(0px, 0px);}
     to {transform: translate(5px, 0px);}
}

@keyframes logoexit{
	 from {transform: translate(5px, 0px);}
     to {transform: translate(0px, 0px);}
}

section h2{
	text-align:center;
}

section div.seleccionarnum{
	text-align:center;
	align-items:center;
	justify-content:center;
}

.link{
	text-decoration:none;
	font-size:22px;
	color:white;
	transition:1.5s;
}

.link:hover{
	color:rgb(57,173,250);
	text-decoration:underline;
	transition:1.5s;
}

/* ver que es mejor con padding o sin padding
form{
padding:0px 8em;
}
*/

ul.indicators li.active{
	background-color:#14a5ff!important;
}

.indicator-item{
	border:2px solid black;
	width:14px!important;
	height:14px!important;
	background-color:#85efff!important;
}

footer{
	margin:30px 0px 0px 0px;
	padding:0px 0px;
	position:relative;
	background-color: #292929;
	color:white;
	border-radius: 3px;
	box-shadow: 1px 1px 7px black, -1px -1px 6px black;
	font-size:15px!important;
	font-family:Arvo, sans-serif;
	width:100%;
}

.footer-copyright{
	background-color: #404040;
}

 footer div div p {
	 position:relative;
	 display:inline;
	 padding:20px 0px;
	 margin:20px 0px;
 }
 
footer div {
	position:relative;
	list-style:none;
	padding:8px; 
	text-align:center;
	display:grid;
	grid-template-columns: auto;
}

.redespilas div .fa, .tiktok_footerspan{
	font-size:2em;
	color:#969696;
	cursor:pointer;
}

.redespilas div:nth-child(3):before, .tiktok_footer:before{
	font-family: fontAwesome;
	position:absolute;
	top:1px;
	left:20px;
	font-size:2.02em;
	height:0;
	overflow:hidden;
	transition:0.5s ease-in-out;
}

.redespilas div:nth-child(2):before{
	font-family: fontAwesome;
	position:absolute;
	top:1px;
	left:23px;
	font-size:2.02em;
	height:0;
	overflow:hidden;
	transition:0.5s ease-in-out;
}


.redespilas div i span:hover, .tiktok_footerspan:hover{
		color:#00FFFF;
		text-shadow:1px 1px 10px #00FFFF;
	} 
	
.redespilas div:nth-child(2)::before{
	content:'\f16a';
	color:#ff0000;
	border-bottom:4px solid #ff0000 ;
}
.redespilas div:nth-child(3)::before{
	content:'\f16d';
	color:rgb(248,187,8);
	border-bottom:4px solid rgb(248,187,8);
}

.redespilas div:hover::before, .tiktok_footerspan:hover::before{
	height:85%;
}

.descriptionderecha{
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}

.redespilas{
	display:grid;
	grid-template-columns: auto 135px 200px 200px auto;
}

@media (max-width:700px){
	.redespilas{
		display:grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
	}
	.tiktok_footer{
		margin:auto;
	}
	.redespilas div:nth-child(2)::before{
		display:none;
	}
	.redespilas div:nth-child(3)::before{
		display:none;
	}
	.oculto_redespilas{
		display:none;
	}
}

.1index:hover{
	background-color:white;
}

@media only screen and (max-width: 992px){
nav .brand-logo{
	left: 50%!important;
    -webkit-transform: translateX(-50%)!important;
    transform: translateX(-50%)!important;
}
}

.indexcuadro{
	border:1px solid gray;
	border-radius:12px;
	background-color:white;
	margin:0px 15px;
	padding:0px 15px;
	box-shadow: inset 0 0 0 3px #08B,0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.indexcuadrosimulador{
	border:1px solid gray;
	    box-shadow: inset 0 0 0 3px red;
	border-radius:12px;
	background-color:white;
	margin:0px 15px;
	padding:10px 15px;
	box-shadow: inset 0 0 0 3px red, 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.indexcuadrohover{
	animation-name:indexcuadrohoverexit;
	animation-duration: 1s;
	animation-fill-mode: both;
	margin:10px 0px;
}
.indexcuadrohover:hover{
	animation-name:indexcuadrohovers;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes indexcuadrohovers{
	 from {transform: scale(1);}
     to {transform: scale(1.05);}
}

@keyframes indexcuadrohoverexit{
	 from {transform: scale(1.05);}
     to {transform: scale(1);}
}

.indexcuadros{
	border:1px solid gray;
	border-radius:12px;
	background-color:white;
	box-shadow:2px 2px 8px black;
	margin:0px 15px;
	padding:10px 15px;
}

.ventana_cookie{
	display:none;
	opacity:0;
	padding:30px;
	background-color:white;
	width:calc(100%-40px);
	max-width:300px;
	border-radius:7px;
	position:fixed;
	line-height:150%;
	bottom:20px;
	left:20px;
	z-index:105;
	box-shadow: 1px 2px 7px 7px rgba(222,222,222,.25);
	border:3px solid orange; 
}
.ventana_cookie div .boton_cookie{
	padding:15px 20px;
	border-radius:7px;
	font-size:15px;
	transition:1s;
}
.ventana_cookie div .boton_cookie:hover{
	transition:2s;
	background-color:#ffa726;
	cursor:pointer;
}
.ventana_cookie div .link_cookie{
	color:gray;
	font-weight:bold;
	transition:1s;
}
.ventana_cookie div .link_cookie:hover{
	color:black;
	font-weight:bold;
	transition:1s;
}
.fondo_cookies{
	display:none;
	background-color:rgba(0,0,0,.2);
	position:fixed;
	z-index:99;
	width:1000vh;
	height:1000vh;
	top:0;
	left:0;
	opacity:0;
}
.activarcookie{
	display:block;
}

.visiblesimulador{
	display:none!important;
	transition:2s!important;
}

.cajaspreguntas::-webkit-scrollbar-thumb {
    border-radius: 7%;
}

.cajaspreguntas::-webkit-scrollbar-thumb:hover {
    background: rgba(246,189,82,1);
}
